*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image: url("photo.jpg");
    background-size: cover ;
    height: 100vh;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    /* width: 45vw; */
    background-color: #ffffff15;
    box-shadow: 0 0 6px #ffffff80;
    transition: all 0.4s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 2px 4px #ffffff80;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    color: #808080;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    margin: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i {
    color: #fff;
    opacity: 0.5;
    padding: 0 5px;
}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px #ffffff80;
}

.btn_one i:hover {
    font-size: 35px;
}

.btn_two i:hover {
    font-size: 30px;
    
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}
#check:checked ~ .btn_one{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}